/* MODAL */
.modal {
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Modal Content */
  .modalContent {
    background-color: #ffffff;
    color: #16123f;
    margin: 0 auto;
    border: 1px solid #888;
    width: 100%;
    height: 10%;
  }
  
  /* The Close Button */
  .close {
    position: relative;
    float: right;
    top: 0;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
    transform: scale(1.1);
  }

  /* the table */
  .table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .tr, .td, .th {
    border: solid 1px;
  }

  .editableTd {
    border: solid 1px;
    background-color: blanchedalmond;
  }