.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.searchOption {
  margin-right: 10px;
  display: inline-block;
}

.label {
  margin-right: 5px;
  margin-left: 5px;
}

.dropDown {
  margin-top: 5px;
  width: 87px;
}
  
.dropDown:hover {
  cursor: pointer;
}
  
.dropDownContent {
  display: none;
  z-index: 1;
}
  
.option {
  display: block;
  border: 1px solid darkblue;
  border-radius: 2px;
  background-color: lightblue;
  margin: 2px;
  width: 100px;
  z-index: 1;
  transition: all .2s ease-in-out;
}
  
.option:hover {
  cursor: pointer;
  border: 3px dotted darkblue;
  transform: scale(1.1);
}

.dropDown:hover .dropDownContent {
  display: block;
}

.dropDown:hover .dropbtn {
  background-color: #f1f1f1;
}
.table {
  border: 1px solid;
  border-collapse: collapse;
  margin-top: 10px;
}

.tr, .td, .th {
  border: solid 1px;
  padding: 10px;
}
